<!-- Main Event Page -->
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="basic.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>Cafe Poze - Event</title>

    <style>
        .wrap p{
            font-size: 15px;
            padding-top: 30px;
            padding: 0;
        }
        .last{
            text-align: right;
        }

    </style>

</head>

<body>
<div id="home">
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/cafe">
            <img src="/img/logo.jpg"
                 width="30" height="30" class="d-inline-block align-top" alt="">
            Cafe Poze
        </a>
    </nav>
</div>
<div id="nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/cafe/info">매장안내</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cafe/menu">메뉴</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="community">커뮤니티</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/board/event">이벤트소식</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/pozzettigelato_/?hl=ko">인스타</a>
        </li>
    </ul>
</div>
    <div id="content">
        <div class="table-size">
        <table border="1" class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <% for(var i=0; i<rows.length; i++){ %>
            <tr>
                <td><%=rows[i].idx%></td>
                <td><a href="/board/view/<%=rows[i].idx%>"><%=rows[i].title%></a></td>
                <td><%=rows[i].name%></td>
                <td><%=rows[i].regdate%></td>
                <td>조회수 예시</td>
            </tr>
            <%}%>
            </tbody>
        </table>
            </div>
        <hr/>
        <div class="last">
            <button type="button" class="btn btn-outline-secondary" onclick=" location.href='/login'">이벤트 작성</button>
        </div>

    </div>



</body>

<style>
    #home a{
        margin-top: 10px;
        height: 35px;
        width: 30px;
    }
    .nav{
        height: 100px;
        line-height: 100px;
        background-color: #fff1fd;
    }
    .nav-item{
        width: 20%;
        text-align: center;
    }

    #content{
        width: 1400px;
        height: 554px;
        margin: auto;
    }
    #footer{
        text-align: center;
        background-color: darkgray;
        height: 125px;
    }
    .wrap{

    }
    .wrap p{
        font-size: 15px;
        padding-top: 30px;
        padding: 0;
    }
</style>

</html>